<div class="join-form" *ngIf="!isSession">
  <button (click)="joinSession()">Join Session</button>
</div>


<div class="session" *ngIf="isSession">
  <div class="session-controls">
    <button *ngIf="!isAudio" (click)="connectAudio()">Connect Audio</button>

    <button *ngIf="isAudio && isMute" (click)="unmute()">Unmute</button>
    <button *ngIf="isAudio && !isMute" (click)="mute()">Mute</button>

    <button *ngIf="!isCamera" (click)="startCamera()">Start Camera</button>
    <button *ngIf="isCamera" (click)="stopCamera()">Stop Camera</button>

    <button *ngIf="!isScreensharing" (click)="startScreenshare()" [disabled]="participantScreenshareOn">Start Screenshare</button>
    <button *ngIf="isScreensharing" (click)="stopScreenshare()">Stop Screenshare</button>

    <button *ngIf="isSession" (click)="leaveSession()">Leave Session</button>

    <button *ngIf="isSession" (click)="joinBreakout()">Join Breakout</button>
    <button *ngIf="isSession" (click)="rejoinMainSession()">Rejoin Main Session</button>
  </div>

  <div class="speaker-self-view">
    <div class="row">
      <div class="column">
        <h3 *ngIf="zoomVideoSDK.getAllUser().length === 1">You are the only one in the session</h3>
        <canvas id="speaker-view-canvas" width="1920" height="1080" [hidden]="activeSpeaker && !particpantVideoOn"></canvas>
        <div class="self-video-off" *ngIf="activeSpeaker.displayName && !particpantVideoOn">
          <h3>{{ activeSpeaker.displayName }}</h3>
        </div>
      </div>
      <div class="column">
        <canvas id="self-view-canvas" width="1920" height="1080" *ngIf="!window.chrome" [hidden]="user && !isCamera"></canvas>
        <video id="self-view-video" width="1920" *ngIf="!!window.chrome" [hidden]="user && !isCamera"></video>
        <div class="self-video-off" *ngIf="user && !isCamera">
          <h3>{{ user.displayName }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-view" *ngIf="false">
    <canvas id="gallery-view-canvas" width="1920" height="1080"></canvas>
  </div>
  <div class="screenshare-view">
    <canvas id="screenshare-canvas" width="1920" height="1080" *ngIf="!window.chrome" [hidden]="!isScreensharing && !participantScreenshareOn"></canvas>
    <canvas id="chrome-receive-screenshare-canvas" width="1920" height="1080" *ngIf="!!window.chrome" [hidden]="!participantScreenshareOn"></canvas>
    <video id="screenshare-canvas" *ngIf="!!window.chrome" width="1920" [hidden]="!isScreensharing"></video>
  </div>

  <h3 *ngIf="zoomVideoSDK.getAllUser().length">Particpants:</h3>
  <ul>
    <ol *ngFor="let participant of zoomVideoSDK.getAllUser()">
      {{ participant.displayName }}
    </ol>
  </ul>
</div>
